.basketItemAttr {
    min-width: 65px;
    height: 45px;
    border: 1px solid #1d1f22;
    box-sizing: border-box;
    padding: 2px;
    font-family: "Urbanist";
    font-weight: 400;
    font-size: 16px;
    color: #1d1f22;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  
  .chosenItemAttr {
    background-color: #1d1f22;
    color: white;
  }
  
  .chosenItemAttrSwatch {
    box-shadow: 1px 1px 5px 0px black;
  }